.section {
  &--first {
    .bg__figure--dots {
      top: 22px !important;
      left: -55px !important;
    }

    .bg__figure--blot {
      top: 10px !important;
      left: 75px !important;
    }
  }

  &--second {
    .bg__figure--dots {
      top: 250px !important;
      left: -205px !important;
    }

    .bg__figure--blot {
      top: 50px !important;
      left: -135px !important;
    }

    .bg__figure--watch {
      top: -35px !important;
      left: -155px !important;
    }
  }

  &--steps {
    display: block;
  }

  &--payment {
    .bg__figure--dots {
      top: 35px !important;
      left: 62px !important;
    }

    .bg__figure--blot {
      top: 40px !important;
      left: 60px !important;
      transform: rotate(-115deg) !important;
    }

    .bg__figure--card-reader {
      top: 35px !important;
      left: -65px !important;
    }
  }

  &--list {
    .bg__figure--dots {
      top: 235px !important;
      left: -50px !important;
    }

    .bg__figure--blot {
      top: -30px !important;
      left: 82px !important;
    }

    .bg__figure--headphones {
      top: -15px !important;
      left: 20px !important;
    }
  }

  &--folder {
    .bg__figure--dots {
      top: 288px !important;
      left: -135px !important;
      z-index: 5;
    }

    .bg__figure--blot {
      &:not(.bg__figure--blot--repeating) {
        top: -45px !important;
        left: 130px !important;
      }
    }

    .bg__figure--blot--bg-static {
      top: -58px;
      opacity: 0.5;
      left: 30px;
      transform: matrix(0, -1, 1, 0, 0, 0) rotate(268deg);
    }

    .bg__figure--folder {
      top: -50px !important;
      left: 5px !important;
    }
  }

  &--faq {
    padding-top: 60px;
    margin-bottom: 100px;
  }
}
