.section {
  $this: &;

  &--first {
    padding-top: 105px;

    @include media-breakpoint-up(md) {
      padding-top: 85px;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 105px;
      padding-bottom: 105px;
    }

    .bg__figure--dots {
      @include media-breakpoint-up(lg) {
        top: 22px !important;
        left: -55px !important;
      }
    }

    .bg__figure--blot {
      @include media-breakpoint-up(lg) {
        top: 10px !important;
        left: 75px !important;
      }
    }
  }

  &--second {
    padding: 133px 0;

    @include media-breakpoint-up(md) {
      padding: 75px 0;
    }

    @include media-breakpoint-only(md) {
      .section--parallax {
        padding-top: 160px;
      }
    }

    @include media-breakpoint-up(lg) {
      padding: 133px 0;
    }

    .bg__figure--dots {
      //top: 250px !important;
      //left: -205px !important;
      top: 170px !important;
      left: -30px !important;
      right: unset;
      bottom: unset;
    }

    .bg__figure--blot {
      @include media-breakpoint-up(lg) {
        top: 40px !important;
        left: -40px !important;
      }
    }

    .bg__figure--watch {
      @include media-breakpoint-up(lg) {
        top: -35px !important;
        left: -155px !important;
      }
    }
  }

  &--steps {
    padding-top: 95px;

    @include media-breakpoint-up(md) {
      padding-top: 36px;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 95px;
    }
  }

  &--calculator {
    padding: 65px 0 35px;

    @include media-breakpoint-up(lg) {
      padding: 138px 0 35px;
    }
  }

  &--reviews {
    padding: 45px 0;

    @include media-breakpoint-up(lg) {
      padding: 130px 0 0;
    }
  }

  &--payment {
    @include media-breakpoint-up(lg) {
      padding: 55px 0;
    }

    .bg__figure--dots {
      top: 95px;
      left: 113px;

      @include media-breakpoint-up(lg) {
        top: 35px !important;
        left: 62px !important;
      }
    }

    .bg__figure--blot {
      top: 40px;
      left: 5px;
      transform: rotate(-115deg) !important;

      @include media-breakpoint-up(lg) {
        top: 33px !important;
        left: 165px !important;
      }
    }

    .bg__figure--card-reader {
      top: 5px;
      left: -35px;
      right: 0;

      @include media-breakpoint-up(lg) {
        right: unset;
        top: 35px !important;
        left: 25px !important;
      }
    }

    #{$this}__parallax {
      @include media-breakpoint-only(md) {
        padding-top: 50%;
      }
    }
  }

  &--list {
    @include media-breakpoint-up(lg) {
      padding-top: 180px;
      padding-bottom: 135px;
    }

    .bg__figure--dots {
      top: unset;
      left: 150px;
      bottom: 50px;

      @include media-breakpoint-up(lg) {
        top: 235px !important;
        left: -50px !important;
      }
    }

    .bg__figure--blot {
      top: -40px;
      left: 0;

      @include media-breakpoint-up(lg) {
        top: -30px !important;
        left: 82px !important;
      }
    }

    .bg__figure--headphones {
      top: -20px;
      left: -50px;

      @include media-breakpoint-up(lg) {
        top: -15px !important;
        left: 20px !important;
      }
    }
  }

  &--folder {
    @include media-breakpoint-up(lg) {
      padding-top: 105px;
      padding-bottom: 105px;
    }

    .bg__figure--dots {
      top: unset;
      bottom: 5px;
      z-index: 5;

      @include media-breakpoint-up(lg) {
        top: 288px !important;
        left: -135px !important;
      }
    }

    .bg__figure--blot {
      &:not(.bg__figure--blot--repeating) {
        top: -15px;

        @include media-breakpoint-up(lg) {
          top: -45px !important;
          left: 130px !important;
        }
      }
    }

    .bg__figure--blot--bg-static {
      top: -85px;
      opacity: 0.5;
      transform: matrix(0, -1, 1, 0, 0, 0) rotate(268deg);

      @include media-breakpoint-up(lg) {
        top: -58px;
        left: 30px;
      }
    }

    .bg__figure--folder {
      top: 0;
      right: -20px;
      left: 0;

      @include media-breakpoint-up(lg) {
        top: -50px !important;
        left: 5px !important;
      }
    }
  }

  &--faq {
    padding-top: 20px;

    @include media-breakpoint-up(lg) {
      padding-top: 60px;
      margin-bottom: 100px;
    }
  }

  &__parallax {
    position: relative;
    width: 100%;
    padding-top: 60%;
    margin-top: 15px;

    @include media-breakpoint-up(lg) {
      padding-top: 0;
      margin-top: 0;
    }
  }
}
