// headings

@mixin h1 {
  font-size: 22px;
  line-height: 23px;

  @include media-breakpoint-up(md) {
    font-size: 44px;
    line-height: 50.4px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 42px;
  }
}

@mixin h2 {
  font-size: 22px;
  line-height: 22.55px;

  @include media-breakpoint-up(md) {
    font-size: 32px;
    line-height: 38px;
  }
}

@mixin h3 {
  font-size: 22px;
  line-height: 22.5px;
}

@mixin h4 {
  font-size: 22px;
  line-height: 22.5px;
}

@mixin h4-lh {
  font-size: 18px;
  line-height: 18px;

  @include media-breakpoint-up(sm) {
    font-size: 22px;
    line-height: 30px;
  }
}

// paragraphs
// paragraph-middle
@mixin p1-l {
  font-size: 20px;
  line-height: 20px;
}

@mixin p1 {
  font-size: 18px;
  line-height: 27px;
}

// paragraph-small
@mixin p2 {
  font-size: 16px;
  line-height: 24px;
}

@mixin p3 {
  font-size: 15px;
  line-height: 20px;
}

@mixin p1-mb {
  margin-bottom: 3rem;
}

@mixin footer-text {
  color: $grey-normal;
  font-size: 16px;
  line-height: 19px;
}

//buttons

@mixin button-p1 {
  font-size: 20px;
  line-height: 20px;
}

@mixin button-p2 {
  font-size: 14px;
  line-height: 14px;

  @include media-breakpoint-up(lg) {
    font-size: 15px;
    line-height: 16px;
  }
}

// font family

@mixin ff-open-sans {
  font-family: "Open Sans", $font-family-sans-serif, sans-serif;
}

@mixin ff-epilogue {
  font-family: "Epilogue", $font-family-sans-serif, sans-serif;
}
