h1,
.h1 {
  @include h1;
  @include ff-epilogue;
  font-weight: 700;
}

h2,
.h2 {
  @include h2;
  @include ff-epilogue;
  font-weight: 700;
}

h3,
.h3 {
  @include h3;
  @include ff-epilogue;
  font-weight: 700;
}

//h4,
//.h4 {
//  @include h4;
//@include ff-epilogue;
//}
