.input {
  @include p1;
  width: 100%;
  max-width: 290px;
  height: 50px;
  padding: 10px 27px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(5, 41, 83, 0.14);
  border: 0;
  background-color: $blue-transparent;
  box-sizing: border-box;
  color: $blue-navy;

  @include media-breakpoint-up(md) {
    max-width: 300px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 180px;
  }
}
