.list {
  &--number {
    padding-top: 20px;
    list-style: decimal;

    &__item {
      position: relative;
      padding: 0 0 20px;

      a {
        color: $grey-light;
        font-weight: normal;
        text-decoration: underline;
      }

      @include media-breakpoint-up(md) {
        padding: 0 0 0 16px;
      }

      @include media-breakpoint-up(lg) {
        padding: 0 0 0 10px;
      }

      @include media-breakpoint-up(xl) {
        padding: 0 0 0 18px;
      }

      &::marker {
        font-weight: bold;
        margin-right: 5px;
        color: $violet-primary;
      }
    }
  }
}

// custom UL

//.ul {
//  list-style-type: none;
//
//  li {
//    list-style-type: none;
//  }
//
//  &--dash {
//    li {
//      clear: both;
//
//      &:before {
//        width: 2.5rem;
//        margin: 0 0 0 -2.5rem;
//        float: left;
//        color: $yellow-dark;
//        font-size: 80%;
//        font-weight: bold;
//        content: "—";
//      }
//
//      &:after {
//        display: block;
//        clear: both;
//        content: "";
//      }
//    }
//  }
//}
