$white: #fff;

$violet-primary: #c774ee;

$pink-light: #fee5ff;

$blue-navy: #111563;
$blue-normal: #286dbd;
$blue-light: #e8f8ff;
$blue-dark: #bad9e7;
$blue-transparent: #f9fafc;

$grey-light: #63718e;
$gray-dark: #3a3a3a;
$gray-transparent: #c9c8d0;
