@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "theme-colors";
@import "theme-helpers";

//blocks components
@import "typography/typography";
@import "section/section";
@import "blocks/hamburger";
@import "blocks/button";
@import "blocks/header";
@import "blocks/bg";
@import "blocks/notice";
@import "blocks/calculator";
@import "blocks/slider";
@import "blocks/tabs";
@import "blocks/accordion";
@import "blocks/sprites";
@import "blocks/rating";
@import "blocks/icons-stars";
@import "blocks/socials";
@import "blocks/payment-methods";
@import "blocks/security";
@import "blocks/review-box";
@import "blocks/steps";
@import "blocks/popup";
@import "blocks/select2";
@import "blocks/footer";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#icon {
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: icon 1s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0.1s;
  opacity: 0;
}

#belvi {
  opacity: 0;
  animation: fadein1 1s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 1.5s;
}

@keyframes fadein1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes icon {
  0% {
    transform: scale(1.5) translate(-10px, -10px);
    opacity: 0;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }
}
