.bg {
  &__figure {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;

    &--dots {
      top: 0;
      background-image: url("../images/svg/dots.svg");
      z-index: 2;

      @include media-breakpoint-up(sm) {
        top: 35px;
        left: 115px;
      }

      &_center {
        top: 0;
        bottom: 0;
        margin: auto;
      }

      &_xxs {
        width: 208px;
        height: 114px;

        @include media-breakpoint-up(sm) {
          width: 206.94px;
          height: 113.43px;
        }

        @include media-breakpoint-up(lg) {
          width: 270px;
          height: 148px;
        }
      }

      &_xs {
        width: 173.28px;
        height: 95.17px;

        @include media-breakpoint-up(sm) {
          width: 261.07px;
          height: 143.39px;
        }

        @include media-breakpoint-up(lg) {
          width: 335px;
          height: 184px;
        }
      }

      &_s {
        width: 171.93px;
        height: 94.32px;

        @include media-breakpoint-up(sm) {
          width: 284.34px;
          height: 155.98px;
        }

        @include media-breakpoint-up(lg) {
          width: 350px;
          height: 192px;
        }
      }

      &_m {
        width: 235.86px;
        height: 129.31px;

        @include media-breakpoint-up(sm) {
          width: 345px;
          height: 189px;
        }

        @include media-breakpoint-up(lg) {
          width: 456px;
          height: 250px;
        }
      }

      &_l {
        width: 153.88px;
        height: 84.36px;

        @include media-breakpoint-up(sm) {
          width: 306.74px;
          height: 168.17px;
        }

        @include media-breakpoint-up(lg) {
          width: 456px;
          height: 250px;
        }
      }
    }

    &--blot {
      width: 100%;
      height: 100%;
      top: 35px;
      left: 10px;
      right: 0;
      background-image: url("../images/svg/bg-figure.svg");
      z-index: 1;

      &_xs {
        width: 187px;
        height: 200px;

        @include media-breakpoint-up(sm) {
          width: 355px;
          height: 381px;
        }

        @include media-breakpoint-up(lg) {
          width: 362px;
          height: 388px;
        }
      }

      &_s {
        width: 300px;
        height: 221px;

        @include media-breakpoint-up(lg) {
          width: 432px;
          height: 317px;
        }
      }

      &_xm {
        width: 275px;
        height: 295px;

        @include media-breakpoint-up(sm) {
          width: 415px;
          height: 445px;
        }

        @include media-breakpoint-up(lg) {
          width: 467px;
          height: 500px;
        }
      }

      &_m {
        width: 254px;
        height: 273px;

        @include media-breakpoint-up(sm) {
          width: 450px;
          height: 450px;
          top: 10px;
          left: -80px;
          right: unset;
        }

        @include media-breakpoint-up(lg) {
          width: 518px;
          height: 556px;
        }
      }

      &_l {
        //width: 213.27px;
        //height: 228.8px;

        //@include media-breakpoint-up(sm) {
        //  width: 425.12px;
        //  height: 456.07px;
        //}

        @include media-breakpoint-up(lg) {
          width: 632px;
          height: 678px;
        }
      }
    }

    &--mac {
      width: 300px;
      height: 225.08px;
      top: 0;
      left: 0;
      right: 0;
      background-image: url("../images/png/imac.png");
      z-index: 3;

      @include media-breakpoint-up(sm) {
        width: 598px;
        height: 448.67px;
      }

      @include media-breakpoint-up(lg) {
        top: -22px;
        right: -90px;
      }

      @include media-breakpoint-up(xl) {
        background-size: auto;
        width: 682px;
        height: 646px;
      }
    }

    &--watch {
      width: 300px;
      height: 225.08px;
      top: -22px;
      right: -90px;
      background-image: url("../images/png/watch.png");
      z-index: 3;

      @include media-breakpoint-up(sm) {
        width: 100%;
        height: 485px;
        top: -15px;
        left: -355px;
      }

      @include media-breakpoint-up(lg) {
        width: 682px;
        height: 646px;
        background-size: auto;
      }
    }

    &--card-reader {
      width: 256px;
      height: 192px;
      top: -22px;
      right: -90px;
      background-image: url("../images/png/card-reader.png");
      z-index: 3;

      @include media-breakpoint-up(sm) {
        width: 521px;
        height: 391px;
      }

      @include media-breakpoint-up(lg) {
        width: 521px;
        height: 391px;
        background-size: auto;
      }
    }

    &--headphones {
      width: 340px;
      height: 255px;
      top: -22px;
      right: -90px;
      background-image: url("../images/png/headphones.png");
      z-index: 3;

      @include media-breakpoint-up(sm) {
        width: 486px;
        height: 365px;
      }

      @include media-breakpoint-up(lg) {
        width: 526px;
        height: 395px;
        background-size: auto;
      }
    }

    &--folder {
      width: 283px;
      height: 204px;
      top: -22px;
      right: -90px;
      background-image: url("../images/png/folder.png");
      z-index: 3;

      @include media-breakpoint-up(sm) {
        width: 454px;
        height: 340px;
      }

      @include media-breakpoint-up(lg) {
        width: 553px;
        height: 415px;
        background-size: auto;
      }
    }
  }

  &__image {
    &--popup {
      position: absolute;
      width: 396px;
      height: 529px;
      left: -8px;
      top: -11px;
      background: no-repeat center;
      background-size: contain;
      background-image: url("../images/png/popup-img.png");
    }
  }
}
