.rating {
  display: flex;
  align-items: center;

  &--count {
    @include ff-open-sans;
    font-size: 16px;
    line-height: 16px;
    opacity: 0.85;
    text-align: center;
    margin-left: 13px;
    color: $violet-primary;
  }
}
