/* stylelint-disable */

$margin-between-slides: 1rem;

.review--slider {
  margin: 33px auto;

  &__link {
    @include ff-epilogue;
    position: relative;
    text-decoration: none;
    color: $violet-primary;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 11px;

    &:after {
      position: absolute;
      background: no-repeat center;
      background-size: contain;
      background-image: url("../images/svg/dotted.svg");
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      content: '';

    }

    &:hover {
      color: $pink-light;
    }
  }
}

.slick-list {
  margin: 0 -($margin-between-slides);
}

.slick-slide {
  margin: 0 $margin-between-slides;
  padding: calc(1rem - 4px) 0 calc(1rem + 4px);

  & > div {
    display: flex;
  }
}

.slick-dots {
  bottom: -85px;
  li  {
    button {
      &::before {
        font-size: 15px;
        opacity: 1;
        color: $blue-light;
      }
    }
  }
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: $blue-normal;
}